.main-content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  .header-content {
    position: relative;
    color: #fff;
    h1 {
      font-size: 72px;
      line-height: 74px;
      font-weight: 700;
      margin: 0;
    }
    .control-block {
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      .control-item {
        display: flex;
        position: relative;
        padding: 10px 16px;
        background-color: hsla(0,0%,100%,.07);
        border-radius: 8px;
        align-items: center;
        .item-title {
          font-size: 14px;
        }
        .item-action-block {
          display: flex;
          margin-left: 10px;
          .action {
            display: flex;
            margin-right: 10px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            background: rgba(255,255,255, 0.2);
            padding: 10px 20px;
            border-radius: 10px;
            align-items: center;
            transition: background-color .2s ease-in;
            &:last-child {
              margin: 0;
            }
            &:hover {
              background: rgba(255,255,255, 0.1);
            }
            .action-name {
              margin-right: 5px;
            }
            fa-icon {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .game-list {
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    list-style: none;
    width: 100%;
    .list-item {
      width: 335px;
      height: 450px;
      position: relative;
      display: flex;
      flex-direction: column;
      margin-right: 24px;
      border-radius: 12px;
      overflow: hidden;
      .image-block {
        width: 100%;
        height: 50%;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
